{{> admin/dashboard-navigation }}
<h2>Add Category</h2>
<form action="/admin/add-category" method="post">
	<div class="form-settings">
		<p><span>Category Title</span><input type="text" name="title" /></p>
		<br />
		<p><span>Description</span><input type="text" name="description" /></p>
		<br />
		<p class="form-button-padding"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Add Category" /></p>
		<br />
		<br />
	</div>
</form>
