<div id="content">
    <!-- page content -->
       <h2>{{item.title}}</h2>
       <p>{{item.createdAt}}</p>
       <img src="/article_images/{{item.image}}" alt="Article Image" width="500" height="400">
       <br />
       <br />         
       {{{body}}}  
</div>