<h1>Journalist Registration</h1>
<form action="/users/add" method="post">
	<p>First Name:<br /><input type="text" name="first_name" placeholder="First name" value="" autocomplete="off" autofocus></p>
	<p>Last Name:<br /><input type="text" name="last_name" placeholder="Last name" value="" autocomplete="off"></p>
	<p>Email:<br /><input type="email" name="password" placeholder="Email" value="" autocomplete="off"></p>
	<p>Password:<br /><input type="password" name="password" placeholder="Password" value="" autocomplete="off"></p>
	<p><input type="submit" value="Add"></p>
</form>
