<h2>Register</h2>
<form action="/users/register" method="post">
  <div class="form-settings">
    <p><span>First Name:</span><input type="text" name="first_name" /></p>
    <br />
    <p><span>Last Name:</span><input type="text" name="last_name" /></p>
    <br />
    <p><span>Email:</span><input type="email" name="email" /></p>
    <br />
    <p><span>Password:</span><input type="password" name="password" /></p>
    <br />
    <p class="form-button-padding"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Register" /></p>
    <br />
    <br />
  </div>
</form>